* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

#layout {
    display: flex;
    min-height: 100vh;
}

.main {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    background: #fff;
}

.deckButton {
    background: #444;
    color: #eee;
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 25%;
    font-size: 1.1em;
}

.deckButton:hover {
    background-color: #eee;
    color: #444;
}