* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

#layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 25%;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ccc;
}

.sidebar div {
    background: #eee;
    margin: 1rem;
    padding: 1rem;
}

.main {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    background: #fff;
}
