<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

    <!-- Servlets -->
    <servlet>
        <servlet-name>com.aadm.cardexchange.CardExchange CardService</servlet-name>
        <servlet-class>com.aadm.cardexchange.server.services.CardServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.aadm.cardexchange.CardExchange UserService</servlet-name>
        <servlet-class>com.aadm.cardexchange.server.services.AuthServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.aadm.cardexchange.CardExchange DeckService</servlet-name>
        <servlet-class>com.aadm.cardexchange.server.services.DeckServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.aadm.cardexchange.CardExchange CardService</servlet-name>
        <url-pattern>/cardexchange/cards</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.aadm.cardexchange.CardExchange UserService</servlet-name>
        <url-pattern>/cardexchange/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.aadm.cardexchange.CardExchange DeckService</servlet-name>
        <url-pattern>/cardexchange/decks</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.aadm.cardexchange.server.ListenerImpl</listener-class>
    </listener>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>CardExchange.html</welcome-file>
    </welcome-file-list>

</web-app>
